<ion-header>
  <ion-toolbar>
      <ion-buttons left>
          <button navPop ion-button icon-only>
            <ion-icon color="light" name="arrow-back"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title><strong>chart-details</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-label>Outstanding: 10 days</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
          <ion-item>
              <ion-label position="stacked">DOS: {{bill.date}}</ion-label>
              <ion-label position="stacked">Visit No: {{bill.visitNo}}</ion-label>
              <ion-label position="stacked">MRN: {{bill.mrn}}</ion-label>
              <ion-label position="stacked">Patient:{{bill.patientName}}</ion-label>
              <ion-label position="stacked"><b>Missing:{{bill.missingNote}}</b></ion-label>
              <ion-label position="stacked">Patient:{{bill.campus}}</ion-label>
              <ion-label position="stacked"><b>Missing:{{bill.billerName}}</b></ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
              <ion-label><b>Missing: {{ bill.missingNote}} </b></ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
              <ion-item>
              <ion-label position="stacked">Journal</ion-label>
              <ion-label position="stacked">{{bill.date}} {{ bill.billerName}}</ion-label>
              <ion-label position="stacked"><b>Missing:{{bill.missingNote}}</b></ion-label>
              </ion-item>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="status">
          <ion-col>
              <ion-item>
                  <ion-label position="stacked"><b>Journal:</b></ion-label>
                  <ion-label position="stacked">05/15/2019,Brittany Scott</ion-label> 
                  <ion-label position="stacked">{{ replayMessage }}</ion-label>
              </ion-item>
          </ion-col>
        </ion-row>

    <ion-row>
        <ion-col>
            <div>
                <ion-button>Resolved</ion-button>
                <ion-button  (click)="openModal()">Reply</ion-button>
             </div>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
