// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.ion-invalid.ion-touched ion-label {
    color: var( --ion-color-danger);
}

:root {
    --ion-color-sky: #c6ffff;
    --ion-color-sky-rgb: 198,255,255;
    --ion-color-sky-contrast: #000000;
    --ion-color-sky-contrast-rgb: 0,0,0;
    --ion-color-sky-shade: #aee0e0;
    --ion-color-sky-tint: #ccffff;
}

.ion-color-gold {
    --ion-color-base: var(--ion-color-sky) !important;
    --ion-color-base-rgb: var(--ion-color-sky-rgb) !important;
    --ion-color-contrast: var(--ion-color-sky-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-sky-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-sky-shade) !important;
    --ion-color-tint: var(--ion-color-sky-tint) !important;
}

